<div class="container-app-module">
  <h1>Este é o AppComponent</h1>
  <ul>
    <li>O AppComponent é carregado a partir da rota raiz do AppModule e servirá apenas para testes locais do módulo que será exposto.</li>
    <li>O AppModule é o módulo principal do projeto. <b>Ele não deverá ser exposto como um módulo de micro front-end.</b></li>
    <li>Para este projeto, foi criado e configurado o PocUnitTestModule como módulo de micro front-end exposto e está pronto para ser carregado a partir de um módulo shell</li>
    <li>Para visualizar o arquivo de EntryPoint do PocUnitTestModule, você pode utilizar <a class="link-entry-point" href="http://localhost:4300/pocUnitTestRemoteEntry.js" target="_blank">este link aqui</a><br></li>
  </ul>
</div>
<router-outlet></router-outlet>
